
<div class="container m-5 text-bg-success text-center">
    <h1 class="m-5">Ingreso de Clientes</h1>
</div>

<div class="container text-center m-5">
    <form action="/clientes/crear" method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" aria-describedby="nombreHelp" name="nombre">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Edad</label>
            <input type="number" class="form-control" id="edad" aria-describedby="edadHelp" name="edad">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success">Enviar datos</button>
        </div>
        <div class="mb-3">
            <button type="reset" class="btn btn-danger">Borrar datos</button>
        </div>
    </form>
</div>